.caja{
    border: 3px dashed salmon;
    margin: 10px;
    padding: 20px;
    width: 400px;
    box-sizing: content-box; /* solo contenido */
}
.alternativa {
    border-color: green ;
    border-style: double;
    box-sizing: border-box; /* conenido + padding + borde  */
}