.content{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin:0

}
.title{

}
.title__h1.content{

}
.title__h1--mobile{
display: block;
}
.title__h1--tablet{
    display: none;

}
.title__h1--desktop{
    display: none;

}
.picture{
    max-width: 100%;
    height: 400px;

}
.pricture__img{

}

@media (min-width:650px) {
    .body {
        background-color: green;
    }
 
    
    .title__h1--mobile{
        
        display: none;
        }
        .title__h1--tablet{
            display: block;
        
        }
        .title__h1--desktop{
            display: none;
        
        }

}

@media screen and (min-width:1024px) {
    .body{
        background-color: blue;
    }
    .title__h1--mobile{
        display: none;
        }
        .title__h1--tablet{
            display: none;
        
        }
        .title__h1--desktop{
            display: block;
        
        }
    
}
@media screen and (max-width:650px) {
    .body{
        background-color: red;
    }
    .title__h1--mobile{
        display: block;
        }
        .title__h1--tablet{
            display: none;
        
        }
        .title__h1--desktop{
            display: none;
        
        }
    
}